.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mat-form-field {
        width:80%
    }
   
    
   } 
   

   .mat-card {
    border: solid 2px;
    border-radius: 16px;
    margin: 10%;
    .mat-card-title {
        font-size: 26px;
    font-weight: 600;
    font-family: cursive;
    }
}
    